<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.vyasasti.testng.basic.PracticeAutomation"/>
      <class name="com.vyasasti.testng.basic.DataProviderData"/>
      <class name="com.vyasasti.testng.basic.TestNGAnnotations"/>
      <class name="com.vyasasti.testng.basic.AssertTestNG"/>
      <class name="com.vyasasti.testng.basic.DataProviderExample"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
